
	.list-group-item{
		background-color: #edf8ef;
	}

	#sliderID .slider-selection {
		background: #b3e0bd;
	}
	
	#sliderID .slider-handle {
		background: #28a745;
	}

	#next:hover {
		background-color: white;
		color: #007bff;
	}

	#previous:hover {
		background-color: #6c757d;
		color: white;
	}
	
		